# ==========================
# macOS system files
# ==========================
.DS_Store

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear
*.iml
*.log
out/
bin/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
dist/
build/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Other common IDEs
# ==========================
.idea/
*.ipr
*.iws
*.bak
*.swp